<h1>Lista de compras</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nome da lista</th>
      <th scope="col">Descrição</th>
      <th scope="col">Comprada</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.title %></td>
        <td><%= list.description %></td>
        <td><%= list.bought ? 'Sim' : 'Não' %></td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <%= link_to 'Visualizar', list, class: 'btn btn-info', role: :button %>
            <%= link_to 'Editar', edit_list_path(list), class: 'btn btn-success', role: :button %>
            <%= link_to 'Excluir', list, method: :delete, data: { confirm: 'Confirma a exclusão?' }, class: 'btn btn-danger', role: :button %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
