<h1>Visualização</h1>

<table class="table table-striped table-hover">

 <tr>
   <th scope="row"><%= t('list.title') %>:</th>
   <td><%= @list.title %></td>
 </tr>
 <tr>
   <th scope="row"><%= t('list.description') %>:</th>
   <td><%= @list.description %></td>
 </tr>
 <tr>
   <th scope="row"><%= t('list.bought') %>:</th>
   <td><%= @list.bought %></td>
 </tr>

</table>

<%= link_to 'Editar', edit_list_path(@list), class: 'btn btn-primary', role: :button %>
<%= link_to 'Voltar a listagem', lists_path, class: 'btn btn-outline-secondary', role: :button %>
